body{
    font-family: 'Roboto', sans-serif;
    background-image: url(/top-banner.png);
    background-repeat: no-repeat;
    margin:0;
    
   
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 22px;
    font-weight: bold;
}
.head2{
    color: darkorange;
    
}
.about-me{
    text-align: justify;
    color: rgb(172, 164, 164);
}

.hire-me{
    background-color: rgb(211, 53, 5);
    color: white;
    font-weight: bold;
    border: 0 solid;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease-in-out;

}
.hire-me:hover{
    opacity: 0.5;
    
}
.felxible-container{
display: flex;
margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width:100%;
}
.profile-image{
    
 
}
.dream-big{
    background-image: url(/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    margin-left: 5%;
 
}
.ex{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}




.experience-field{
    background-image: url(/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

#full{
    border-left: 7px solid tomato;
}
#junior{
    border-left: 7px solid blue;
}

footer{
    text-align: center;
    padding-bottom: 50px;
}