body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 22px;
    font-weight: bold;
}
.head2{
    color: darkorange;
    
}
.about-me{
    text-align: justify;
}

.hire-me{
    background-color: coral;
    color: white;
    font-weight: bold;
    border: 0 solid;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}